{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I CU</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <h2>I CU project</h2>
        <a href="{% url 'main' %}"></a>
        <div class="main-content">
            <div class="video-section">
            <video id="localVideo" autoplay></video>
                <!-- 저장된 비디오 가져오기 -->
                <input type="file" id="videoFile" accept="video/mp4">
                <button onclick="startStreaming()">Start Streaming</button>
            </div>
            <div class="info-section">
                <div class="time-section">
                    <h5>현재 시간</h5>
                    <p id="time"></p>
                </div>
                <div class="location-section">
                    <h5>편의점 위치</h5>
                    <p id="location">CU 인하대학교점(인천광역시 미추홀구 용현동 191-1)</p>
                </div>
                <!-- <div class="notification-section">
                    <h5>알림창</h5>
                    <div id="notification"></div>
                </div> -->
            </div>
        </div>
        <script src="{% static 'js/live_alert.js' %}"></script>
    </div>
</body>
</html>
